body .page-header.navbar .page-logo {
	background: none;
	border-right: 1px solid #eee;
	position: relative;
}
.page-header.navbar div.menu-toggler.sidebar-toggler {
	background: none;
	position: absolute;
	right: -35px;
	margin: 0;
	top: 26px;
}
.gradient_bg,
.gradient_bg:hover {
	background: -moz-linear-gradient(top, #78c05a 0%, #36adc3 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, #78c05a 0%,#36adc3 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, #78c05a 0%,#36adc3 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#78c05a', endColorstr='#36adc3',GradientType=0 ); /* IE6-9 */
	color: #fff;
}
.page-header.navbar div.menu-toggler span {
	width: 20px;
	height: 3px;
	float: left;
	clear: both;
	display: block;
	margin: 0 0 2px 0;
}
.page-sidebar-closed .page-header.navbar div.menu-toggler {
	right: 0;
}
.page-sidebar-closed .page-header.navbar div.menu-toggler span {
	
}
.page-header.navbar .page-logo img.logo-default {
	margin: 11px 0 0 0;
	width: 100%;
}
.btn-group .select_prooduct_categoy {
	border: 1px solid #ddd;
	border-radius: 5px;
	padding: 6px 5px;
	margin: 0 20px 0 5px;
}
.table-scrollable table#users-table tr td:last-child {
	width: 150px !important;
	/* display: inline-block; */
}
.manage_products_page table#users-table tr td:last-child {
	display: inline-block;
}
#tablist {
	margin: 0;
}
.tab-content {
	float: left;
	width: 100%;
	border: 1px solid #ddd;
	margin: -1px 0 0 0;
	padding: 20px;
}
.page-footer {
	position: fixed;
	width: 100%;
	bottom: 0;
	background: #26344B;
}
.admin_next_prev_button {
	position: fixed;
	bottom: 33px;
	width: 100%;
	left: 0;
	right: 0;
	text-align: right;
	/* padding: 0 40px 0 0; */
	background: rgba(0,0,0,0.8);
	padding: 10px 39px 10px 0;
}
.page-content-wrapper .page-content.edit_products_page {
	padding-bottom: 50px;
}
.payment_gateway_admin .form-group {
	display: inline-block;
	margin-right: 20px;
}
.payment_gateway_admin .form-group input {
	width: auto;
	display: inline-block;
	height: auto;
}
.payment_gateway_admin .form-group .control-label {
	display: inline-block;
}
.payment_gateway_admin h3 {
	font-weight: 700;
	color: #666;
	font-size: 15px;
	text-transform: uppercase;
	margin-bottom: 20px;
}

.dashboard-stat .details .number {
    font-size: 30px !important;
    line-height: 30px !important;
    letter-spacing: 0px !important;
    font-weight: 1000;
}

.dashboard-stat .details .desc{
	font-weight: 700 !important;
}
















